# priority|role|hex
0|Game Producer|7c4dff
1|Game Developer|673ab7
2|DevOps|673ab7
3|Web Developer|673ab7
4|Project Manager|9575cd
5|Vice Project Manager|9575cd
6|Business Analyst|5dc2b0
7|Senior Community Manager|bf360c
8|Senior Game Moderation Manager|b71c1c
9|Senior Event Manager|0d47a1
10|Community Manager|e64a19
11|Community Moderation Manager|00838f
12|Game Moderation Manager|d32f2f
13|Support Manager|f21f6c
14|Add-On Manager|7e57c2
15|Event Manager|1565c0
16|Media Manager|ff8600
17|Translation Manager|00b8d4
18|Game Moderation Leader|ff1744
19|Game Moderation Trainer|ff1744
20|Game Moderator|f44336
21|Report Moderator|ff5252
22|Game Moderation Trainee|ff8a80
23|Support Team Leader|e3467a
24|Support|f06292
25|Trial Support|f48fb1
26|Community Moderation Leader|0097a7
27|Community Moderator|00acc1
28|Community Moderation Trainee|00acc1
29|Translation Team Leader|00cceb
30|Translator|00e5ff
31|Translation Trainee|84ffff
32|Add-On Team|b388ff
33|Media Team Leader|ff8f00
34|Media Team|ff9800
35|Official Streamer|00ffc4
36|Event Planner|366fb5
37|Event Team|1e88e5
38|Test Coordinator|a2b2b9
39|Testing Team|cc33c7
